<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diyishuai.dao.StreamDao" >
  <resultMap id="BaseResultMap" type="com.diyishuai.domain.StreamTest" >
    <id column="id" property="id" />
    <result column="num" property="num"/>
    <result column="num2" property="num2" />
  </resultMap>

  <resultMap id="ResultMap" type="com.diyishuai.domain.StreamTest" extends="BaseResultMap">
    <result column="result" property="result" />
  </resultMap>


  <select id="getList" parameterType="map" resultMap="BaseResultMap">
    SELECT *
    FROM stream_test
  </select>

  <select id="dealWith" parameterType="map" resultMap="ResultMap">
    SELECT
    service,
    SUM(num) result
    FROM stream_test
    GROUP BY service
    ORDER BY service;
  </select>

  <insert id="create" parameterType="com.diyishuai.domain.StreamTest">
    INSERT INTO stream_test
    VALUES (NULL ,#{num},#{num2},#{service})
  </insert>

  <insert id="batchCreate" parameterType="java.util.List">
    INSERT INTO stream_test
    VALUES 
    <foreach collection="list" item="item" index="index" separator=",">
      (NULL ,#{item.num},#{item.num2},#{item.service})
    </foreach>
    ;
  </insert>


</mapper>